PORT=4177

# Password login web. Ganti sebelum publish.
APP_PASSWORD=ganti_password_ini
APP_SESSION_SECRET=ganti_dengan_random_string_panjang

# Pilih endpoint sesuai data center project Tuya:
# Amerika: https://openapi.tuyaus.com
# Eropa: https://openapi.tuyaeu.com
# China: https://openapi.tuyacn.com
# India: https://openapi.tuyain.com
TUYA_ENDPOINT=https://openapi.tuyaus.com
TUYA_CLIENT_ID=isi_access_id_dari_tuya_iot_project
TUYA_CLIENT_SECRET=isi_access_secret_dari_tuya_iot_project

# File daftar lampu yang akan muncul di dashboard.
TUYA_LIGHTS_FILE=./data/lights.json

# Code DP bawaan untuk lampu Tuya. Ubah kalau produkmu memakai code lain.
TUYA_SWITCH_CODE=switch_led
TUYA_BRIGHTNESS_CODE=bright_value_v2
TUYA_ENABLE_BRIGHTNESS=true
